<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    @import url(http://fonts.googleapis.com/css?family=RobotoDraft);
    html,
    body {
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
      background-color: #E6ECF1;
      height: 100%;
    }
  </style>
</head>
<body unresolved touch-action="auto">
  <header>
    <h1><%= title %></h1>
  </header>
  <% if (Object.keys(data.attributes||{}).length > 0) { %>
  <section id="attributes">
    <% for (var attr in data.attributes) { %>
    <div id="attribute-<%= attr %>">
      <div>
        <span><%= attr %></span>
        <span><%= (data.attributes[attr].type||'') %></span>
        <span><%= (data.attributes[attr].reflect===true?'(reflected)':'') %></span>
      </div>
      <% if (data.attributes[attr].hasOwnProperty('description')) { %>
      <% if (data.attributes[attr].description.trim().length > 0) { %>
      <div><%= data.attributes[attr].description.trim() %></div>
      <% } %>
      <% } %>
    </div>
    <% } %>
  </section>
  <% } %>
  <% if (Object.keys(data.methods||{}).length > 0) { %>
  <section id="methods">
    <% for (var attr in data.methods) { %>
    <div id="method-<%= attr %>">
      <div>
        <span><span><%= attr %></span><% if (data.methods[attr].generator){ %>*<% } %>(<%= (Object.keys(data.methods[attr].params)||[]).map(function(p){return p;}).join() %>)</span>
        <span><%= (data.methods[attr].source||title) %></span>
      </div>
      <div>
        <% if (Object.keys(data.methods[attr].params||{}).length > 0) { %>
        <div>
          <h4>Arguments:</h4>
          <% for (p in data.methods[attr].params) { %>
            <span><pre><%= p %></pre><% if (data.methods[attr].params[p].hasOwnProperty('type')) { %>: <%= data.methods[attr].params[p].type %><% } %><% if (data.methods[attr].params[p].required) {%> (required)<% } %></span>
            <% if(data.methods[attr].params[p].hasOwnProperty('description')){ %><div><%= data.methods[attr].params[p].description.trim() %></div><% } %>
          <% } %>
        </div>
        <% } %>
      <% if (data.methods[attr].hasOwnProperty('description')) { %>
      <% if (data.methods[attr].description.trim().length > 0) { %>
        <div><%= data.methods[attr].description.trim() %></div>
      <% } %>
      <% } %>
      </div>
    </div>
    <% } %>
  </section>
  <% } %>
  <% if (Object.keys(data.events||{}).length > 0) { %>
  <section id="events">
    <% for (var attr in data.events) { %>
    <div id="event-<%= attr %>">
      <div><%= attr %></span></div>
      <% if (data.events[attr].hasOwnProperty('description')) { %>
      <% if (data.events[attr].description.trim().length > 0) { %>
      <div><%= data.events[attr].description.trim() %></div>
      <% } %>
      <% } %>
    </div>
    <% } %>
  </section>
  <% } %>
  <% if (Object.keys(data.css||{}).length > 0) { %>
  <section id="css">
    Coming in a future release...
  </section>
  <% } %>
  <% if (Object.keys(data.shadow||{}).length > 0) { %>
  <section id="shadow">
    <% for (var attr in data.shadow) { %>
    <div id="shadow-<%= attr %>"><span><%= attr %></span><span><%= data.shadow[attr] %></span></div>
    <% } %>
  </section>
  <% } %>
  <!--
  <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      console.log('Ready');
    });
  </script>
-->
</body>
</html>
